<html>

<head>

<title>
    {%block title%} {% endblock %}
</title>

</head>

<body>

    <h1 style="background-color: darkolivegreen;color:whitesmoke;text-align: center;">Pildoras desinformaticas</h1>
    {%include "superior/barra.html"%} 
    <h3 style="text-align: center;">muchas cositas que practicar</h3>

    {% block content %} {% endblock %}

    <p style="background-color: darkolivegreen;color:whitesmoke;text-align:left;">Esto es un pie de pagina que siempre se repite</p>

</body>

</html>